<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
    <a class="navbar-brand" routerLink="/index">
        <fa-icon [icon]="faHouseDamage"></fa-icon>
        DivResid
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/">Pessoal</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/">Residência</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/">Convites</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right"  *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">test {{ username }}</a>
            </li>
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </div>
</nav>
