<app-page-header
    page-title = "Regras do Imóvel"
    page-sub-title = "Descrição das regras do imóvel ativo."
    page-new-button-text = "Editar/Cadastrar"
    page-button-link = "editor"
    icon-button = "editIcon">
>
</app-page-header>

<div class="card">
    <div class="card-header">
        Descrição
    </div>
    <div class="card-body" *ngIf="onLoading">
        <p-progressSpinner 
            [style]="{width: '40px', height: '40px'}">
        </p-progressSpinner>
    </div>
    <div class="card-body" *ngIf="!onLoading">
        <div *ngIf="propertyActive.rules != null">
            <div [innerHTML]="propertyActive.rules"></div>
        </div>
        <div *ngIf="propertyActive.rules == null">
            <p class="lead">
                Você ainda não definiu as regras para esse imóvel!
            </p>
        </div>
    </div>
</div>
