<app-page-header
    page-title = "Imóveis"
    page-sub-title = "Lista de Imóveis cadastrados."
    page-new-button-text = "Imóvel"
    page-button-link = "new"
    icon-button = "newIcon">
</app-page-header>

<div class="row mb-2">
    <div class="input-group-prepend ml-3">
        <label for="filterGlobal" class="input-group-text">
            <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        </label>
    </div>
    <input id="filterGlobal" class="form-control" type="text"
        pInputText style="width:25%"
        placeholder="Busca dinâmica"
        (input)="tt.filterGlobal($event.target.value, 'contains')">
</div>

<div class="table-responsive">

    <p-table #tt [columns]="cols"
        [value]="resources" [paginator]="true" [rows]="5" 
        [resizableColumns]="true"
        [lazy]="true" (onLazyLoad)="loadLazyData($event)" 
        [totalRecords]="totalRecords" [loading]="loading">
        
        <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
                <th *ngFor="let col of columns" pResizableColumn  
                    class="bg-info text-light"
                    [ngStyle]="{'width': col.width}">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-resources>
            <tr>
                <!--Acive-->
                <td class="text-center">
                    <strong>{{resources.active? 'Sim':'Não'}}</strong>
                </td>
                <!--Name/Description-->
                <td>
                    <strong>{{resources.name}}</strong> 
                    <br>
                    {{resources.description}}
                </td>
                 <!--Address-->
                 <td>
                    {{resources.street}}, {{resources.number}}
                     {{resources.city}} - {{resources.state}} 
                </td>
                <!--Actions-->
                <td class="text-center">
                    <a class="btn btn-outline-info btn-sm mr-2" 
                        [routerLink]="[resources.id, 'edit']"
                    >
                        Editar
                    </a>
                    <button class="btn btn-outline-danger btn-sm"
                        (click)="deleteResource(resources)"
                    >
                        Excluir
                    </button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    Você ainda não cadastrou nenhum Imóvel!
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
