<div class="row "> 
    <div class="col-md-9">
        <p class="h1 font-weight-light">{{pageTitle}}</p> 
        <small class="text-muted ml-1">{{pageSubTitle}}</small>
    </div> 
    <div class="col-md-3 mt-5 text-right">
        <a class="btn btn-info" [routerLink]="pageButtonLink">
            <fa-icon [icon]="faPlusCircle" 
                *ngIf="iconButton === 'newIcon'">
            </fa-icon>
            <fa-icon [icon]="faAngleDoubleLeft" 
                *ngIf="iconButton === 'backIcon'">
            </fa-icon>
            <fa-icon [icon]="faEdit" 
                *ngIf="iconButton === 'editIcon'">
            </fa-icon>
            {{pageNewButtonText}}
        </a>
    </div>
</div> 
<hr>
