<!--Loading spin-->
<div class="text-center " *ngIf="loading" style="width: 100%; height: 100%;">
        <p-progressSpinner 
            [style]="{width: '340px', height: '340px'}" >
        </p-progressSpinner>
        <h3>Carregando Home ...</h3>
</div>


<div class="row ml-5" *ngIf="loading === false">
    <div class="ml-2">
        <p-card header="Residência" 
            subheader="Resumo do imóvel ativo"
            [style]="{'width': '360px', 'height': '550px'}" styleClass="p-card-shadow">
            <p-header>
                <img alt="Card" src="assets/images/ap.jpg">
            </p-header>
            <hr class="featurette-divider">
            <br>
            <div *ngIf="activeProperty.id !== undefined ">
                <p><strong>Nome: </strong>{{activeProperty.name}}</p>
                <p><strong>Descrição: </strong>{{activeProperty.description}}</p>
            </div>
            <div *ngIf="activeProperty.name === undefined ">
                Você não possui imóvel ativo!
            </div>
        </p-card>
        <a class="btn btn-info" routerLink="/properties/profile">
            Ver Mais
        </a>
    </div>
        
        <div class="ml-2">
            <p-card 
                header="Moradores"
                subheader="Resumo dos moradores atuais"
                [style]="{'width': '360px', 'height': '550px'}" 
                styleClass="p-card-shadow">
                <p-header>
                    <img alt="Card" src="assets/images/fr.jpg">
                </p-header>
                <hr class="featurette-divider">
                <br>
                <div *ngIf="residents.length > 0">
                    <p *ngFor="let res of residents" >
                        <strong>Nome: </strong>{{res.name}}<br>
                    </p>
                </div>
                <div *ngIf="residents.length === 0">
                    Você não possui moradores ou imóvel ativo!
                </div>   
            </p-card>
            <a class="btn btn-info" routerLink="/residents">
                Ver Mais
             </a>
        </div>

        <div class="ml-2">
            <p-card 
                header="Finaceiro"
                subheader="Resumo das suas Finanças"
                [style]="{'width': '360px', 'height': '550px'}" 
                styleClass="p-card-shadow">
                <p-header>
                    <img alt="Card" src="assets/images/mon.jpg">
                </p-header>
                <hr class="featurette-divider">
                <br>
                <p *ngIf="showEntries">
                    <strong style="color:rgb(80, 192, 90);">
                        Entradas: 
                    </strong>{{revenueTotal}}
                </p>
                <p *ngIf="showEntries">
                    <strong style="color:rgb(212, 27, 27);">
                        Saídas: 
                    </strong>{{expenseTotal}}
                </p>
                <p *ngIf="showEntries">
                    <strong>Saldo: </strong>{{balance}}
                </p>
                <p *ngIf="showEntries === false">
                    Você não possui Lançamentos nesse mês!
                </p>
            </p-card>
            <a class="btn btn-info" routerLink="/entries">
                Ver Mais
             </a>
        </div>

        <div class="ml-2">
            <p-card 
                header="Metas Financeiras"
                subheader="Resumo das suas Metas"
                [style]="{'width': '360px', 'height': '550px'}" 
                styleClass="p-card-shadow">
                <p-header>
                    <img alt="Card" src="assets/images/gg.jpg">
                </p-header>
                <hr class="featurette-divider">
                <br>
                <div *ngIf="goals.length > 0">
                    <p *ngFor="let goal of goals" >
                        <strong>Meta: </strong>{{goal.name}}<br>
                        <p-progressBar [value]="goal.percent"></p-progressBar>
                    </p>
                </div>
                <div *ngIf="goals.length === 0">
                    Você não possui Metas cadastradas!
                </div> 
            </p-card>
            <a class="btn btn-info" routerLink="/goals">
                Ver Mais
            </a>
        </div>

    </div>

<hr class="featurette-divider"  *ngIf="loading === false">

<div class="container"  *ngIf="loading === false">
    <header class="jumbotron text-center">
        <h2>Calendário de Atividades e Tarefas da Residência</h2>
    </header>
</div>

<full-calendar [options]="calendarOptions"  *ngIf="loading === false"></full-calendar>


