<app-page-header
    page-title = "Lançamentos"
    page-sub-title = "Lista de Lançamentos cadastrados."
    page-new-button-text = "Lançamento"
    page-button-link = "new"
    icon-button = "newIcon">
</app-page-header>

<div class="row  mb-2">
    <div class="input-group-prepend ml-3">
        <label class="input-group-text" for="filterGlobal">
            <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        </label>
    </div>  
    <input id="filterGlobal" class="form-control" type="text" 
        pInputText style="width:25%" 
        placeholder="Busca por nome de Lançamento"
        (input)="tt.filterGlobal($event.target.value, 'contains')">

    <div class="input-group-prepend ml-5">
        <label class="input-group-text" for="selectMonth">
            Filtrar por data:
        </label>
    </div>
    <select #month class="custom-select" id="selectMonth" style="width:15%">
        <option value="">Selecione um mês</option>
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
    </select>
    <input #year type="number" id="year" style="width:15%" 
        name="year" value="" placeholder="Informe o ano" class="form-control">
        
    <button type="button" class="btn btn-info ml-1" 
        (click)="loadLazyData($event)"
    >
        <fa-icon [icon]="faFilter"></fa-icon> Filtrar
    </button>
    <button type="button" class="btn btn-info ml-1" 
        (click)="clearFilter()"
    >
        <fa-icon [icon]="faEraser"></fa-icon> Limpar
    </button>
      
</div>


<div class="table-responsive">
<!--em p-table [globalFilterFields]="['vin','year']-->
    <p-table #tt
        [value]="resources" [paginator]="true" [rows]="5" 
        [columns]="cols"
        [lazy]="true" (onLazyLoad)="loadLazyData($event)" 
        [totalRecords]="totalRecords" [loading]="loading"
        [globalFilterFields]="['date','entry']">
        
        <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
                <th *ngFor="let col of columns" 
                    class="bg-info text-light"
                    [ngStyle]="{'width': col.width}" 
                >
                    {{col.header}}
                </th>  
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-resources>
            <tr>
                <!--Date-->
                <td class="text-center">
                    <strong>{{resources.date  | date:'mediumDate'}}</strong> 
                </td>
                <!--Name/Description-->
                <td>
                    <span class="badge float-left mr-2"
                        [class.badge-success]="resources.type == 'revenue'"
                        [class.badge-danger]="resources.type == 'expense'"
                    >{{resources.type == 'revenue'? 'receita':'despesa'}}</span>
                    <strong>{{resources.name}}</strong> 
                    <br>
                    {{resources.description}}
                </td>
                <!--Amount-->
                <td class="text-center">
                    <strong 
                        [class.text-success]="resources.type == 'revenue'"
                        [class.text-danger]="resources.type == 'expense'"
                    >
                        {{resources.amount | currency:'BRL'}}
                    </strong> 
                </td>
                <!--Status-->
                <td class="text-center">
                    <strong class="text-success" *ngIf="resources.paid">
                        Pago
                    </strong>
                    <strong class="text-warning" *ngIf="!resources.paid">
                        Pendente
                    </strong>
                </td>
                <!--Actions-->
                <td class="text-center">
                    <a class="btn btn-outline-info btn-sm mr-2" 
                        [routerLink]="[resources.id, 'edit']"
                    >
                        Editar
                    </a>
                    <button class="btn btn-outline-danger btn-sm"
                        (click)="deleteResource(resources)"
                    >
                        Excluir
                    </button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    Não foi encontrado nenhum Lançamento!
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>