<div class="bg-light border-right sticky-top" id="sidebar-wrapper"
                         *ngIf="(authService.authenticated$ | async) === true">
    <div class="sidebar-heading bg-info text-white mb-3">Administração </div>
    <div class="list-group list-group-flush">

     
        <a href="#" class="list-group-item list-group-item-action bg-light"
        routerLinkActive="active" routerLink="/profile">
          <fa-icon [icon]="faIdBadge" size="lg"></fa-icon>
          <span class="ml-2">Perfil</span>
         
        </a>
      

      <div>
        <a href="#menuFinPessoal" data-toggle="collapse" aria-expanded="false"
          class="list-group-item list-group-item-action bg-light" role="button"
          aria-controls="menuFinPessoal"
        >
          <fa-icon [icon]="faHandHoldingUsd" size="lg"></fa-icon>
          <span class="ml-2">Finanças Pessoais</span>
          <span class="dropdown-toggle float-right"></span>
        </a>
        <div class="collapse" id="menuFinPessoal">
          <ul class=" list-unstyled" >
            <li>
              <a class=" list-group-item list-group-item-action" 
                routerLinkActive="active" routerLink="/categories"
              >
                <div class="ml-4">  
                  <fa-icon [icon]="faCubes" size="lg"></fa-icon>
                  Categorias
                </div>
              </a>
            </li>
            <li>
                <a class=" list-group-item list-group-item-action" 
                  routerLinkActive="active" routerLink="/entries"
                >
                  <div class="ml-4">  
                    <fa-icon [icon]="faFileInvoiceDollar" size="lg"></fa-icon>
                    Lançamentos
                  </div>
                </a>
              </li>
          </ul>
        </div>
      </div>

      <div>
        <a href="#menuResidencias" data-toggle="collapse" aria-expanded="false" 
          class="list-group-item list-group-item-action bg-light" role="button" 
            aria-controls="menuResidencias"
        >
          <fa-icon [icon]="faHome" size="lg"></fa-icon>
          <span class="ml-2">Residências</span>
          <span class="dropdown-toggle float-right"></span>
        </a>
        <div class="collapse"  id="menuResidencias">
          <ul class=" list-unstyled">
            <li>
                <a class=" list-group-item list-group-item-action" 
                    routerLinkActive="active" routerLink="/properties" 
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    <div class="ml-4">  
                    <fa-icon [icon]="faCity" size="lg"></fa-icon>
                    Imóveis
                    </div>
                </a>
            </li>
            <li>
                <a class="list-group-item list-group-item-action" 
                  routerLinkActive="active" 
                  routerLink="/properties/profile"
                >
                  <div class="ml-4">  
                          <fa-icon [icon]="faBuilding" size="lg"></fa-icon>
                          Imóvel Ativo
                  </div>
                </a>
              </li>
              <li>
                <a class=" list-group-item list-group-item-action" 
                routerLinkActive="active" routerLink="/properties/rules"
                >
                  <div class="ml-4">  
                        <fa-icon 
                            [icon]="faExclamationCircle" 
                            size="lg">
                        </fa-icon>
                        Regras do Imóvel
                  </div>
                </a>
              </li>
          </ul><i class="fas fa-sync"></i>
        </div>
      </div>

      <div *ngIf="(authService.authAdmin$ | async) === true">
        <a href="#menuFinColetivas" data-toggle="collapse" aria-expanded="false" 
          class="list-group-item list-group-item-action bg-light" role="button" 
            aria-controls="menuFinColetivas"
        >
          <fa-icon [icon]="faCommentsDollar" size="lg"></fa-icon>
          <span class="ml-2">Finanças Coletivas</span>
          <span class="dropdown-toggle float-right"></span>
        </a>
        <div class="collapse"  id="menuFinColetivas">
          <ul class="list-unstyled">
            <li>
                <a class=" list-group-item list-group-item-action" 
                  routerLinkActive="active" routerLink="/collective"
                >
                  <div class="ml-4">  
                    <fa-icon [icon]="faMoneyCheckAlt" size="lg"></fa-icon>
                    Lançamentos
                  </div>
                </a>
              </li>
              <li>
                <a class=" list-group-item list-group-item-action" 
                  routerLinkActive="active" routerLink="/entries"
                >
                  <div class="ml-4">  
                    <fa-icon [icon]="faFileInvoiceDollar" size="lg"></fa-icon>
                    Outra opção
                  </div>
                </a>
              </li>
          </ul>
        </div>
      </div>

      <div>
        <a href="#menuMoradores" data-toggle="collapse" aria-expanded="false" 
          class="list-group-item list-group-item-action bg-light" role="button" 
            aria-controls="menuMoradores"
        >
          <fa-icon [icon]="faUsers" size="lg"></fa-icon>
          <span class="ml-2">Moradores</span>
          <span class="dropdown-toggle float-right"></span>
        </a>
        <div class="collapse" id="menuMoradores">
          <ul class="list-unstyled" >
            <!--Invites-->
            <li>
                <a class="list-group-item list-group-item-action"
                    routerLinkActive="active" routerLink="/invites"
                >
                    <div class="ml-4">
                        <fa-icon [icon]="faMailBulk" size="lg"></fa-icon>
                        Convites
                    </div>
                </a>
            </li>
            <!--Residents-->
            <li>
                <a class="list-group-item list-group-item-action"
                    routerLinkActive="active" routerLink="/residents"
                >
                    <div class="ml-4">
                        <fa-icon [icon]="faIdCard" size="lg"></fa-icon>
                        Moradores Ativos
                    </div>
                </a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <a href="#menuRelatorios" data-toggle="collapse" aria-expanded="false" 
          class="list-group-item list-group-item-action bg-light" role="button" 
            aria-controls="menuRelatorios"
        >
          <fa-icon [icon]="faFileInvoice" size="lg"></fa-icon>
          <span class="ml-2">Relatórios</span>
          <span class="dropdown-toggle float-right"></span>
        </a>
        <div class="collapse" id="menuRelatorios">
          <ul class="list-unstyled">
            <li>
              <a class="scroll-link list-group-item 
                list-group-item-action bg-light" routerLink="/reports"
              >
                <fa-icon [icon]="faMoneyBillAlt" size="lg"></fa-icon>
                Lançamentos
              </a>
            </li>
            <li>
                <a class="scroll-link list-group-item 
                  list-group-item-action bg-light" href="#section-4"
                >
                  We think that...
                </a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <a href="#menuConfig" data-toggle="collapse" aria-expanded="false" 
          class="list-group-item list-group-item-action bg-light" role="button" 
            aria-controls="menuConfig"
          >
          <fa-icon [icon]="faCogs" size="lg"></fa-icon>
          <span class="ml-2">Configurações</span>
          <span class="dropdown-toggle float-right"></span>
        </a>
          <div class="collapse" id="menuConfig">
            <ul class=" list-unstyled" >
              <li>
                <a class="scroll-link list-group-item 
                  list-group-item-action bg-light" href="#section-3"
                >
                  Our projects
                </a>
              </li>
              <li>
                  <a class="scroll-link list-group-item 
                    list-group-item-action bg-light" href="#section-4"
                  >
                    We think that...
                  </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>

