<app-page-header
    page-title = "Moradores"
    page-sub-title =  "Lista de moradores do imóvel ativo"
    page-new-button-text =  "Convite"
    page-button-link =  "/invites/new"
    icon-button = "newIcon"
>
</app-page-header>

<div class="row mb-2">
    <div class="input-group-prepend ml-3">
        <label class="input-group-text" for="filterGlobal">
            <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        </label>
    </div>
    <input id="filterGlobal" class="form-control" type="text"
        pInputText style="width:25%"
        placeholder="Busca dinâmica"
        (input)="tt.filterGlobal($event.target.value, 'contains')">
</div>
<div class="table-responsive">

    <p-table #tt [columns]="cols"
        [value]="resources" [paginator]="true" [rows]="5" 
        [resizableColumns]="true"
        [loading]="loading">
        
        <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
                <th *ngFor="let col of columns" pResizableColumn  
                    class="bg-info text-light">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-resources>
            <tr>
                <td>
                    {{resources.name}}
                </td>
                <td>
                    {{resources.email}}
                </td>
                <td class="text-center">
                    <div *ngIf="resources.roles[0].name === 'ROLE_RESIDENT'">
                        Morador
                    </div>
                    <div *ngIf="resources.roles[0].name === 'ROLE_MODERATOR'">
                        Moderador
                    </div>
                    <div *ngIf="userAuth.id === resources.id">
                        <strong>Administrador</strong>
                    </div>
                    
                </td>
                <td class="text-center" *ngIf="userAuth.id !== resources.id">
                    <a class="btn btn-outline-info btn-sm mr-2" 
                        [routerLink]="[resources.id, 'edit']"
                    >
                        Editar Permissão
                    </a>
                    <button class="btn btn-outline-danger btn-sm"
                        (click)="deleteResource(resources)"
                    >
                        Excluir do imóvel
                    </button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    Você ainda não convidou nenhum 
                    morador para este imóvel!
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>