<app-page-header
    page-title = "Categorias"
    page-sub-title = "Lista de Categorias cadastradas."
    page-new-button-text = "Categoria"
    page-button-link = "new">
</app-page-header>

<fa-icon [icon]="faSearch" size="lg"></fa-icon>
<input class="ml-1 mb-2" type="text" pInputText size="35" placeholder="Busca dinâmica"
    (input)="tt.filterGlobal($event.target.value, 'contains')">

<div class="table-responsive">

    <p-table #tt [columns]="cols"
        [value]="resources" [paginator]="true" [rows]="5" 
        [resizableColumns]="true"
        [lazy]="true" (onLazyLoad)="loadLazyData($event)" 
        [totalRecords]="totalRecords" [loading]="loading">
        
        <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
                <th *ngFor="let col of columns" pResizableColumn  class="bg-info text-light">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-resources>
            <tr>
                <td>
                    <strong>{{resources.name}}</strong> 
                    <br>
                    {{resources.description}}
                </td>
               
                <td class="text-center">
                    <a class="btn btn-outline-info btn-sm mr-2">Editar</a>
                    <button class="btn btn-outline-danger btn-sm">Excluir</button>
                </td>

            </tr>
        </ng-template>
        
    </p-table>
</div>