<app-page-header
    page-title = {{pageTitle}}
    page-sub-title = "Informe ou atualize informações."
    page-new-button-text = "Voltar"
    page-button-link = "/entries"
    icon-button =  "backIcon"
>
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre o Lançamento
        </div>
        <div class="card-body">
            <div class="form-row">
                 <!-- type -->
                <div class="form-group col-md-2">
                    <label for="type">Tipo</label>
                    <select name="type" id="type" class="form-control">
                        <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
                    </select>

                    <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
                    
                </div>
                
                <!-- categoryId -->
                <div class="form-group col-md-3">
                    <label for="category">Categoria</label>
                    <select name="category" id="category" formControlName="category" class="form-control">
                        <option *ngFor="let category of categories"  [value]="category.id">{{category.name}}</option>
                    </select>

                    <app-form-field-error [form-control]="resourceForm.get('category')"></app-form-field-error>
                    
                </div>
               
            </div>
        </div>
    </div>

    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
        Salvar
    </button>

</form>
<pre>{{resourceForm.value | json}}</pre>