<app-page-header
    page-title = {{pageTitle}}
    page-sub-title = "Envie um novo convite para um usuário cadastrado"
    page-new-button-text = "Voltar"
    page-button-link = "/invites"
    icon-button = "backIcon"
>
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="card">
        <div class="card-header">
            <div *ngIf="existsActiveProperty">
                Busque pelo usuário e envie o convite para imóvel: 
                {{currentProperty.id}} boolean: {{existsActiveProperty}}
            </div>
            <div *ngIf="!existsActiveProperty">
                <strong>
                    Você não possui nenhum imóvel ativo no momento!
                </strong>
            </div>
        </div>
        <div class="card-body" *ngIf="existsActiveProperty">
            <div class="form-row">
                <!--SearchUser-->
                <div class="form-group col-md-6">
                    <label for="searchUser">Buscar Usuário</label>
                    <input type="text" class="form-control"
                        id="searchUser" formControlName="email">
                    <app-form-field-error
                        [form-control]="resourceForm.get('email')">
                    </app-form-field-error>
                </div>
            </div>
        </div>
    </div>


</form>