<app-page-header
    page-title = {{pageTitle}}
    page-sub-title = "Informe ou atualize informações."
    page-new-button-text = "Voltar"
    page-button-link = "/goals"
    icon-button =  "backIcon"
>
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre a Meta Financeira
        </div>
        <div class="card-body">

            <div class="form-row">
                <!--Active-->
                <div class="form-group col-md-1">
                    <label for="active">Finalizada</label>
                    <div id="active">
                        <p-inputSwitch 
                            formControlName="done">
                        </p-inputSwitch>
                    </div>
                </div>

                <!-- goal name -->
                <div class="form-group col-md-5">
                    <label for="name">Meta</label>
                    <input type="text" class="form-control" 
                        id="name" formControlName="name">
                    <app-form-field-error 
                        [form-control]="resourceForm.get('name')">
                    </app-form-field-error>
                </div>
                
                <!-- amount -->
                <div class="form-group col-md-3">
                    <label for="amount">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                R$
                            </div>
                        </div>
                        <input  type="number" 
                            class="form-control text-right" id="amount" 
                            formControlName="value">
                    </div>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('value')">
                    </app-form-field-error>
                </div>

                <!-- date -->
                <div class="form-group col-md-2">
                    <label for="date">Data Limite</label><br>
                    <p-calendar
                        id="date"
                        formControlName="date"
                        inputStyleClass="form-control"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        [locale]="ptBR"
                        [showButtonBar]="true">
                    </p-calendar>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('date')">
                    </app-form-field-error> 
                </div>
            </div>

        </div>  
    </div>

    <button [disabled]="submittingForm || resourceForm.invalid" 
        type="submit" class="btn btn-info btn-lg float-right mt-3">
        Salvar
    </button>

</form>
<!--<pre>{{resourceForm.value | json}}</pre>-->