<app-page-header
    page-title = {{pageTitle}}
    page-sub-title = "Informe ou atualize informações."
    page-new-button-text = "Voltar"
    page-button-link = "/properties"
    icon-button =  "backIcon"
>
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Dados
        </div>
        <div class="card-body">
            <div class="form-row">
                <!--Active-->
                <div class="form-group col-md-1">
                    <label for="active">Imóvel Ativo</label>
                    <div id="active">
                        <p-inputSwitch 
                            formControlName="active">
                        </p-inputSwitch>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!--Name-->
                <div class="form-group col-md-3">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" 
                        id="name" formControlName="name">
                    <app-form-field-error 
                        [form-control]="resourceForm.get('name')" >
                    </app-form-field-error>    
                </div>
                <!--Description-->
                <div class="form-group col-md-5">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" 
                        id="description" formControlName="description">
                </div>
            </div>
            <div class="form-row">
                <!--LandLord-->
                <div class="form-group col-md-3">
                    <label for="landLord">Proprietário</label>
                    <input type="text" class="form-control"
                        id="landLord" formControlName="landLordName">
                </div>
                <!--LandLordPhone-->
                <div class="form-group col-md-2">
                    <label for="landLordPhone">Telefone Proprietario</label>
                    <input type="text" class="form-control"
                        id="lardLordPhone" formControlName="landLordPhone"
                        [imask]="{mask: '(000)00000-0000'}" >
                </div>
            </div>
            <div class="form-row">
                <!--CEP-->
                <div class="form-group col-md-2">
                    <label for="zipCode">CEP</label>
                    
                    <input type="number" class="form-control"
                        id="zipCode" formControlName="zipCode"
                        (blur)="getDataFromCep()">
                        
                </div>
                <!--Loading spin-->
                <div class="form-group col-md-1 mt-4" *ngIf="onLoading">
                    <p-progressSpinner 
                        [style]="{width: '40px', height: '40px'}">
                    </p-progressSpinner>
                    <br>
                        <small>Buscando CEP</small>
                </div>
                <!--Street-->
                <div class="form-group col-md-5">
                    <label for="street">Rua</label>
                    <input type="text" class="form-control"
                        id="street" formControlName="street">
                </div>
                 <!--Number-->
                 <div class="form-group col md-2">
                    <label for="number">Número</label>
                    <input type="number" class="form-control"
                        id="number" formControlName="number">
                </div>
                <!--AddressDetails-->
                <div class="form-group col-md-2">
                    <label for="addressDetails">Complemento</label>
                    <input type="text" class="form-control"
                        id="addressDetails" formControlName="addressDetails">
                </div>
            </div>
            <div class="form-row">
                <!--City-->
                <div class="form-group col-md-3">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control"
                        id="city" formControlName="city">
                </div>
                <!--State-->
                <div class="form-group col-md-2">
                    <label for="state">Estado</label>
                    <input type="text" class="form-control"
                        id="state" formControlName="state">
                </div>
            </div>
        </div>
    </div>


    <button [disabled]="submittingForm || resourceForm.invalid" 
        type="submit" class="btn btn-info btn-lg float-right mt-3">
        Salvar
    </button>

</form>